.player-info-font {
  font-size: 2.5ch;
}

.card-center {
  float: right;
}

.card {
  z-index: 0;
  height: 15em;
  width: 25em;
  cursor: pointer;
  background: rgba(0,0,0, 0.1);
  box-shadow: 0 0 1px 1px rgba(0,0,0, 0.5);
}

.card:not(focus) {
  transition-timing-function: ease-in;
  transition: 200ms;
}

.card:focus {
  z-index: 1;
  outline: none;
  transition-timing-function: ease-out;
  transition: 200ms;
  transform: scale(2.2, 2.2);
  box-shadow: 0 0 1px 1px rgba(0,0,0, 0.5);
  background: rgb(70, 70, 70);
}

.disabled-card {
  opacity: 0.6;
  pointer-events: none;
  z-index: -1;
}

.disabled-card p {
  -webkit-box-pack: center;
  justify-content: center;
  display: -webkit-box;
  align-items: center;
  margin-top: 2em;
  z-index: 1;
}

.card:hover:not(:focus) {
  outline: none;
  transition-timing-function: ease-out;
  transition: 200ms;
  background-color: rgba(193, 88, 207, 0.5);
}

.card:not(hover) {
  transition-timing-function: ease-in;
  transition: 200ms;
}

.achievementContent {
  display: none;
}

.card-top-left:focus {
  transform-origin: top left;
  display: block;
}

.card-top-left:focus .achievementContent {
  display: block;
}

.card-top-left:focus .AchievementDescription {
  display: none;
}

.clanContent {
  display: none;
}

.card-top-right:focus {
  transform-origin: top right;
}

.card-top-right:focus .clanContent {
  display: block;
}

.card-top-right:focus .clanDescription {
  display: none;
}

.currentSeasonContent{
  display: none;
}

.card-bottom-left:focus {
  transform-origin: bottom left;
}

.card-bottom-left:focus .currentSeasonContent {
  display: block;
}

.card-bottom-left:focus .currentSeasonDescription {
  display: none;
}

.troopsAndSpellsContent {
  display: none;
}

.card-bottom-right:focus {
  transform-origin: bottom right;
}

.card-bottom-right:focus .troopsAndSpellsContent{
  display: block;
}

.card-bottom-right:focus .troopsAndSpellsDescription{
  display: none;
}

.clanSearchButton {
  float: right;
}
