.imgSize {
  width: 6em;
  height: auto;
}

.heroLogo {
  width: 4.5em;
  height: 5em;
}

.badge-purple {
  background-color: rgba(193, 88, 207, 0.5);
}

.clashPlayerLogo {
  width: 60px;
  height: auto;
}

