.cardHeader {
  height: 5.5em;
}

.card-body {
  max-height: 100%;
}

.imgSize {
  width: 3em;
  height: 3em;
}

.townhallLogo {
  width: 3.8em;
  height: auto;
}
.heroLogo {
  width: 2.5em;
  height: auto;
}
