.trophy-panel {
  height: 2em;
  width: 8em;
  border: 1px solid rgba(45, 10, 59, 0.5);
  background-color: rgba(3, 2, 5, 0.72);
  color: white;
}

.trophy-item {
  float: left;
  margin-top: -1em;
  margin-left: -1.2em;
  height: 50px;
  width: 50px;
}

.league-icon {
  margin-top: -1.5em;
}

.trophy-text {
  margin-left: 1em;
}

.no-league {
  width: 5em;
  height: auto;
}

.homeHeader {
  margin-left: 11em;
}

.nightHeader {
  margin-left: 3.5em;
}
