/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

body {
  background-color: rgba(18, 13, 4, 0.71);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-family: Verdana;
}

h3 {
  font-family: Verdana;
}


.btn-orange {
  background-color: #FFCC33;
}

.btn-orange[disabled] {
  background-color: #ffea22;
  pointer-events: none;
}

.btn-orange:hover {
  background-color: #ff9529;
}

.form-control:focus{
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.player-info-font {
  font-size: 2.5ch;
}

/* modified bootstrap classes for fitting the theme of clash of clans site*/
.clash-modal {
  color: black;
  background-color: rgb(103, 106, 102);
}

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

progressbar {
  min-height: 2.5em;
}

.list-group-item-dark {
  color: #1b1e21;
  background-color: orange;
}

a.list-group-item-dark,
button.list-group-item-dark {
  color: #1b1e21;
}

a.list-group-item-dark:focus, a.list-group-item-dark:hover,
button.list-group-item-dark:focus,
button.list-group-item-dark:hover {
  color: #1b1e21;
  background-color: #cc771d;
}

a.list-group-item-dark.active,
button.list-group-item-dark.active {
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
}

.legendLeaguePanel {
  cursor: pointer;
  background-color: rgba(45, 10, 59, 0.5);
  border-bottom: 2px solid rgba(45, 10, 59, 0.5);
}

.disabled-accordion {
  cursor: not-allowed;
  background-color: rgba(45, 10, 59, 0.5);
  border-bottom: 2px solid rgba(45, 10, 59, 0.5);
}
