.customBackground {
  position: relative;
  z-index: 1;
}

.customBackground:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: cornflowerblue;
  background-image: url("/assets/clashplayer.png");
  background-repeat: no-repeat;
  opacity: 0.5;
  height: 100%;
}

.textWrapper {
  white-space: nowrap;
}

