.errorClashLogo {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 1em;
  opacity: 0.5;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.errorDescription {
  text-align: center;
  margin-top: 2em;
}

.homeButton {
  margin-right: 2em;
  margin-top: 1em;
}
