<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="container">
        <h1 class="display-4">Hello, Fellow Clasher!</h1>
        <p class="lead">This app provides you with stats from <strong>individual players</strong> or <strong>whole
          clans</strong>.
          To filter for precise results its always the better option to use either the clan-id or the player-id.</p>
        <hr class="my-4">
        <p>
          Of course we offer you to filter for clan locations, war frequency, clan level and many more!
          But now, lets have a look for what you are searching for!</p>
      </div>
    </div>
  </div>
</div>


